body
{
    font-family: Tahoma, Geneva, sans-serif;
    color: #fff;
    background: url(image1/back.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.finish{
    position: absolute; /* or absolute */
    top: 50%;
    left: 50%;
    font-size: 200px;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
}