body
{
    font-family: Tahoma, Geneva, sans-serif;
    color: #fff;
    background: url(image1/11.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
   
}
.signin
{
    background: rgba(44,62,80,0.7);
    padding: 3%;
    width: 250px;
    margin: auto;
    margin-top: 90px;
    height: 400px;
    margin-left: 180x;
    
}
form
{
    width: 100%;
    text-align: center;
    position: relative;
}
input
{
    width: 90%;
    display: inline-block;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #58bce6;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 4% 0;
    transition: border 0.5s;
    outline: inherit;
    color: #fff;
}
input[type=button]
{
    border: none;
    width: 70%;
    background: white;
    color: #000;
    font-size: 100%;
    line-height: 150%;
    padding: 4% 0;
    border-radius: 15px;
    cursor: pointer;
}
input[type=button]:hover
{
    color: #fff;
    background-color: black;
}
h2
{
    color: white;
    
}
a
{
    color: yellow;
    text-decoration: blink;
}
a:hover
{
    color: skyblue;
}
.container
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
::placeholder {
    color:aliceblue;
    opacity: 0.8; 
}
