body
{
    font-family: Tahoma, Geneva, sans-serif;
    color: #fff;
    background: url(image1/44.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
   
}
a
{
    color: yellow;
    text-decoration: blink;
    font-family: Tahoma, Geneva, sans-serif;
    margin-left: 35px;
}
.reset
{
    background: rgba(44,62,80,0.7);
    padding: 40px;
    width: 240px;
    height: 340px;
    margin-left: 180px;
    margin: 0 auto;
    margin-top: 120px;
}
h2
{
    margin-top: 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}
input[type=password]
{
    display: inline-block;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #58bce6;
    font-family: 'Play', sans-serif;
    font-size: 100%;
    font-weight: 50%;
    padding: 5% 0;
    transition: border 0.5s;
    text-align: center;
    color: white;
}
input[type=button]
{
    border: none;
    background: white;
    color: black;
    font-size: 120%;
    line-height: 100%;
    padding: 5% 0;
    border-radius: 12px;
    cursor: pointer;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
input[type=button]:hover
{
    background: black;
    color: white;
}
::placeholder {
    color:aliceblue;
    opacity: 0.8;
}
